*{
  box-sizing: content-box !important;
  font-family: "Poppins";
}

/////////////////////////////
.div-container{
background-color: rgba(219, 219, 219, 0.089);
}

/////////////////////////////
.card-group{
  display: grid;
  grid-template-columns: 55% 45%;
}

/////////////////////////////
.card1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
}

.card1-body{
  width: 75% !important;
  max-height: 50% !important;
  justify-content: center;
  text-align: center;

}

.card1-body .logo{
  width: 15rem;;
}

.card1-body b{
  font-size: larger;
  color: #662B8C ;
}

.card1-body p{
  padding: 0 20px 0 20px;
  font-weight: 500;
  font-size:large;
  color: #662B8C;
}


/* Simple CSS3 Fade-in-down Animation */
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/////////////////////////////

/* BASIC */

a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}



/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 30%;
  // width: 100%;
  // min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px 0 30px 0;
  margin-right: 30%;
  width: 90%;
  max-width: 450px;
  position: relative;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#formContent:hover{
  padding: 35px 5px 35px 5px;
  -webkit-box-shadow: 0 30px 60px 0 #56baed;
  box-shadow: 0 30px 60px 0 #56baed;
}

/* TABS */
h2.active {
  font-size: larger;
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}

/* FORM TYPOGRAPHY*/

input[type=submit] {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  margin-top: 5px;
  text-align: start;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=submit]:hover {
  background-color: #70308C;
}

input[type=submit]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 12px 10px;
  text-align: start;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]::placeholder {
  color: #cccccc;
}

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.third {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
/* OTHERS */

*:focus {
    outline: none;
}

#icon {
  width:60%;
}

/*
.card2{
  border: 1px solid black;
  margin: 150px 150px 150px 0;
  position: relative;
  left: -5%;
  background-color: #84A9FF;
  border-radius: 5px !important;
  box-shadow:  0 0 10px 2.5px #5f5f5f ;
  z-index: 1;
}

.card2-body {
  border: 1px solid black; position: relative;
  // width: 100% !important;
  // height: 100% !important;
  // margin: 0 10rem 010rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card2-form{ border: 1px solid black;
}*/
/*
.card2-form{
  border: 2px solid black;
 position: absolute;
 top: 153px;
 left: 142px;
}
.card2-body .c-button{
  color:white;
  background-color: #618DC0  !important;
  font-weight: bold;
}
*/
/*
  margin: 45px;
  padding: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  */
/*
  // margin: 10rem 0 10rem 10rem;
  // padding: 0 50px 0 50px ;
  position: relative;
  top: 2.5rem;
  left: 1rem;
  z-index: 1;
  display: flex;
  justify-self: center;
  align-items: center;
  box-shadow:  0 0 10px 2.5px #5f5f5f ;
  border-radius: 5px !important;
  background-color: #CDFAFF !important;
*/
