<div class="bg-light min-vh-100 d-flex flex-row align-items-center main-div">
  <c-container>
    <c-row class="justify-content-center ">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4 c-card1 ">
            <c-card-body class="center-form">
              <form cForm  >
                <h1>Login</h1>
                <p class="text-medium-emphasis">Sign In to your account</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input autoComplete="username" cFormControl placeholder="Username" />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Password"
                    type="password"
                  />
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button cButton class="px-4 bg-color-049DD9 " color="">
                      Login
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link">
                      Forgot password?
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card [ngStyle]="{'width.%': 4}" class=" py-5 second-card">
            <c-card-body class="text-center ">
              <div>
                <img src="../../../../assets/img/avatars/logoNogBg.png" alt="fondation hassan 2" class="logo-fm2"/>
                <p><b>Fondation Hassan 2</b> <br/>Consciente du rôle éminemment social qu'elle doit jouer et de l'importance de l'action sociale pour les adhérents de la Fondation
                </p>
                <button [active]="true" cButton class="c-card-button mt-3" routerLink="/register">
                  Register Now!
                </button>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
