

.bg-color-049DD9{
  color:white;
  background-color: #618DC0  !important;
  font-weight: bold;
}

.c-card-button{
  background-color:#985BAF !important;
  border: none !important;
}

.main-div{
  background-color: #E1F2FF !important;
}

.c-card1{
  background-color: #B6D5EA !important;
  height: 500px;
}

form{
width: 100%;
}
.center-form{
display: flex;
align-items: center;
}

.logo-fm2{
  width: 10rem;
}

b{
  color: #662B8C ;
}
.second-card{
  background-color: #8CB9D4 !important;
 }

 .second-card p{
  color: #662B8C;
 }
