// Here you can add other styles
img{
  width: 50px;
}
// .toggle-btn {
//   position: absolute;
//   top: 75px;
// left: 100px;
// }


.sec-container{
  display: flex !important;
  align-items: center !important;
  margin-left: 0;
}
