
img{
  width: 50px;
}

.sec-container{
  display: flex !important;
  align-items: center !important;
  margin-left: 0;
}

.login-lcontainer{
  margin:  auto;
  width: 95% !important;
  height: 350px; //makaybghich in9es
  border: 2px solid black;
}

app-login{
  display: block;
  width: 100%;
  height: 100%;
}
